@page
@model AdminApp.Pages.Teacher.SearchCompetence

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

<article>
    <h1 class="page-title">Find teacher by skill Competences</h1>
    <section class="form-container">
        <section class="form-wrapper">
            <form class="form" method="get">
                <div class="form-control">
                    <input asp-for="SearchString" placeholder="Search competence" />
                </div>
                <div>
                    @if (ViewData["ErrorMessage"] is not null)
                    {
                        <div class="error_message">@ViewData["ErrorMessage"]</div>
                    }
                </div>
                <div class="buttons">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </section>
    </section>
    <section class="course-wrapper">
        <table class="styled_table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Teachers[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Teachers[0].LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Teachers[0].Categories[0].CategoryName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Teachers is not null)
                {
                    @foreach (var item in Model.Teachers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @foreach (var category in item.Categories)
                                {
                                    @Html.DisplayFor(modelItem => category.CategoryName)
                                    @Html.DisplayFor(modelItem => modelItem.separator)
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>
</article>