@page
@model UserApp.Pages.Course.Course

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

<h1 class="page-title">Courses</h1>
<article>
    <h1>Courses</h1>

    <table class="styled_table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Length)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Details)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Courses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.CourseId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>