@page "{id}"
@model UserApp.Pages.Category.CategoryWithCourse

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = $"Category: {@Model.CategoryWithCourses.CategoryName}";
}

<h1 class="page-title">Our Courses in @Model.CategoryWithCourses.CategoryName</h1>
<article>
    <section class="course-wrapper">
        @* @foreach (var course in Model.CategoryWithCourses.Courses)
            {
            <div class="course-card">
            <h4>Course Number: @course.CourseNo</h4>
            <h4>Title: @course.Title</h4>
            <h4>Length: @course.Length</h4>

            <a asp-page="/Course/Details" asp-route-ID="@course.CourseId">
            <button class="btn btn-primary">Pick Me</button></a>
            </div>
            } *@

        <table class="styled_table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.CategoryWithCourses.Courses[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryWithCourses.Courses[0].CourseNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryWithCourses.Courses[0].Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CategoryWithCourses.Courses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        @* <td>
                            @Html.DisplayFor(modelItem => item.Length)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.Details)
                            </td> *@
                        <td>
                            @* <a asp-page="./Edit" asp-route-id="@item.CourseId">Edit</a> | *@
                            <a asp-page="/Course/Details" asp-route-id="@item.CourseId">View Details</a>
                            @* <a asp-page="./Delete" asp-route-id="@item.">Delete</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</article>
