@page "{id}"
@model UserApp.Pages.Category.CategoryWithCourse

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = $"Category: {@Model.CategoryWithCourses.CategoryName}";
}

<h1 class="page-title">Our Courses in @Model.CategoryWithCourses.CategoryName</h1>
<article>
    <div class="page-button">
        <a asp-page="Category"><button class="btn">Back to Categories</button></a>
    </div>
    <section class="course-wrapper">
        <table class="styled_table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.CategoryWithCourses.Courses[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryWithCourses.Courses[0].CourseNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryWithCourses.Courses[0].Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CategoryWithCourses.Courses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-page="/Course/Details" asp-route-id="@item.CourseId">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</article>
